
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



      <link href="{% static 'stylesheets/base.css' %}" rel="stylesheet">
      <link href="{% static 'stylesheets/pages.css' %}" rel="stylesheet">
    
    {% endblock %}

  
  </head>
  <body>
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    {% endblock%}
  </body>
</html>